[submodule "vim/bundle/tomorrow-theme-vim"]
	path = vim/bundle/tomorrow-theme-vim
	url = https://github.com/d11wtq/tomorrow-theme-vim
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-mix"]
	path = vim/bundle/vim-mix
	url = http://github.com/mattonrails/vim-mix.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/bundle/vim-bufferline"]
	path = vim/bundle/vim-bufferline
	url = git@github.com:bling/vim-bufferline.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/pack/plugins/start/syntastic"]
	path = vim/pack/plugins/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
